<script context="module">
	export async function load({ fetch }) {
		const res = await fetch('/api/todos');

		if (!res.ok) {
			console.error(res.status);
		}
		const todos = await res.json();

		return {
			props: {
				todos
			}
		};
	}
</script>

<script lang="ts">
	import type { ObjectId } from 'mongoose';

	type Todo = {
		_id: ObjectId;
		title: string;
		completed?: boolean;
	};

	export let todos: Todo[];
	let addTodoError;
	let deleteTodoError;
	let newTodoTitle: string = '';

	const createTodo = async (newTodo: Omit<Todo, '_id'>) => {
		try {
			const res = await fetch('/api/todos', {
				method: 'POST',
				body: JSON.stringify(newTodo)
			});
			const todo = await res.json();
			todos = [...todos, todo];
			addTodoError = false;
		} catch (e) {
			addTodoError = true;
		}
	};

	const deleteTodo = async (id: Todo['_id']) => {
		try {
			const res = await fetch('/api/todos/' + id, {
				method: 'DELETE'
			});
			if (!res.ok) {
				throw new Error('Could not delete todo.');
			}
			todos = todos.filter(({ _id }) => _id !== id);
			deleteTodoError = false;
		} catch (e) {
			deleteTodoError = true;
		}
	};
</script>

<div>
	{#each todos as { _id, title } (_id)}
		<h2>{title} <button on:click={() => deleteTodo(_id)}>DELETE</button></h2>
	{/each}
	<div>
		<input bind:value={newTodoTitle} />
		<button on:click={() => createTodo({ title: newTodoTitle })}>ADD</button>
	</div>
	{#if addTodoError}
		<h6>Error creating todo.</h6>
	{/if}
</div>

<style>
	h6 {
		margin: 0;
		color: red;
	}
</style>
